<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
    <insert id="insertarItem" parameterType="map">
        insert into VI_ITEMS (id, nombre, descripcion, fechalanzamiento, tarifaxdia, formatorenta, genero, TIPOITEM_id)
        values (#{item.id}, #{item.nombre}, #{item.descripcion}, #{item.fechaLanzamiento}, #{item.tarifaxDia}, #{item.formatoRenta}, #{item.genero}, #{item.tipo.id})
    </insert>

    <select id="consultarItems" resultMap="ItemResult">
        select
        i.id as i_id,
        i.nombre as i_nombre,
        i.descripcion as i_descripcion,
        i.fechalanzamiento as i_fechalanzamiento,
        i.tarifaxdia as i_tarifaxdia,
        i.formatorenta as i_formatorenta,
        i.genero as i_genero
        from VI_ITEMS as i
    </select>

    <select id="consultarItem" resultMap="ItemResult" parameterType="map">
        select
        i.id as i_id,
        i.nombre as i_nombre,
        i.descripcion as i_descripcion,
        i.fechalanzamiento as i_fechalanzamiento,
        i.tarifaxdia as i_tarifaxdia,
        i.formatorenta as i_formatorenta,
        i.genero as i_genero
        from VI_ITEMS as i
        where i.id = #{idit}
    </select>

    <resultMap id="ItemResult" type="Item">
        <id property="id" column="i_id" />
        <result property="nombre" column="i_nombre" />
        <result property="descripcion" column="i_descripcion" />
        <result property="fechaLanzamiento" column="i_fechaLanzamiento" />
        <result property="tarifaxDia" column="i_tarifaxDia" />
        <result property="formatoRenta" column="i_formatoRenta" />
        <result property="genero" column="i_genero" />
        <association property="tipo" javaType="TipoItem" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult"/>
    </resultMap>
    
</mapper>